#img {
  width: 40%;
  background-position: 50% 10%;
  background-size: cover;
}
#info {
  height: 30%;
  width: 70%;
  flex-direction: column;
}
ion-input {
  background-color: #b7e1a3;
  color: black !important;
}
ion-textarea {
  margin-left: 3%;
}

#fullinfo {
  margin-top: 20%;
  margin-bottom: 5%;
  display: flex;
  height: 25%;
}
ion-content {
  --ion-background-color: white;
}

ion-toolbar {
  --background: white;
}

ion-tab-bar {
  border: 0;
}
ion-card-title {
  color: #4cbb17;
  margin-left: 5%;
  font-weight: bold;
  font-size: large;
}
ion-card-content {
  color: black;
}

form {
  margin-top: 15%;
  margin-bottom: 5%;
  height: 40%;
  color: #4cbb17;
}
ion-card {
  height: 40%;
}
#book {
  margin-left: 40%;
  margin-bottom: 5%;
}
ion-label {
  margin-left: 5% !important;
}
#message {
  width: 90%;
  margin-left: 5%;
  height: 50%;
  border: solid 1px #4cbb17;
  border-radius: 5%;
  margin-bottom: 5%;
}
#back {
  margin-top: 5%;
}
