#img{
    height: 100%;
    width: 30%;
   flex-direction: column;
  }
  #info
  {
    height: 30%;
    width:70%;
    flex-direction: column;
  
  }
  #fullinfo{
    margin-bottom: 5%;
    display: flex;
  }