<ion-header class="ion-no-border">
  <ion-toolbar>
    <div id="wrapper">
      <h5 id="title">Requested appointments</h5>
      <ion-icon
        id="profile"
        name="person-outline"
        [routerLink]="['/profilec']"
        size="large"
      >
      </ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let appoinment  of appointments; let i = index">
    <div id="bigdiv">
      <div id="img1container">
        <div *ngIf="time < 0">
          <!--Image is loaded-->
          <img [src]="appoinment.profileImage" />
        </div>

        <div *ngIf="time > 0 ">
          <!--Skeleton is shweing-->
          <ion-thumbnail slot="start">
            <ion-skeleton-text
              style="
                width: 200px;
                height: 235px;
                --background-rgb: 29.8, 73.3, 9;
              "
              [animated]="true"
              >Hello</ion-skeleton-text
            >
          </ion-thumbnail>
        </div>
      </div>

      <div id="info">
        <ion-card-header>
          <ion-card-title> {{appoinment.student}} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{appoinment.date}}
          <br />
          {{appoinment.message}}
        </ion-card-content>
        <div class="conflict" *ngIf="conflict[i]===true">
          <span style="color: rgba(187, 187, 32, 0.954)"> Warning:</span> Time
          conflict
        </div>
        <div id="buttons">
          <ion-button size="small" class="approve" (click)="presentAlert(i)"
            >Approve</ion-button
          >
          <ion-button size="small" class="decline" (click)="presentAlert1(i)"
            >Decline</ion-button
          >

          <!--Approve modal-->
          <!-- <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <form class ="form" #f="ngForm" (ngSubmit)="onSubmit(f,i)">
      
          <ion-item>
          <ion-label position ="floating">Message</ion-label>

          <ion-textarea ngModel placeholder="Enter a message..." type="textarea"
          name="message" id="message" required="true"></ion-textarea>
                  </ion-item> 
          
          <ion-button id="submit" type="submit" name="submit">Submit</ion-button>
          
        </form>
      </ng-template>
    </ion-modal> -->

          <!--Decline modal-->
          <!-- <ion-modal #modal trigger="open-modal2" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <form class ="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-item>
              <ion-label position ="floating"> Rawr</ion-label>
              <ion-input type="text" ngModel  
              name="rating" required="true"> </ion-input>   
          </ion-item>
      
          <ion-item>
          <ion-label position ="floating">Review</ion-label>
          <ion-input type="text" ngModel name="review" required="true"> </ion-input>     
          </ion-item> 
          
          <ion-button id="submit" type="submit" name="submit">Submit</ion-button>
          
        </form>
      </ng-template>
    </ion-modal> -->
        </div>
      </div>
    </div>
  </ion-card>

  <div class="no-appointments" *ngIf="noappointments===0">
    <div class="wrap">
      <ion-icon name="calendar-outline" id="center"></ion-icon>
      <p id="noappointmentstext">No appoinments were requested yet!</p>
    </div>
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button routerLink="/homec">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="appoinments" routerLink="/appointmentsc">
        <ion-icon name="calendar-clear-outline" id="current"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tips" routerLink="/tipsc">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tips" routerLink="/profilec">
        <ion-icon name="person-outline"> </ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
