<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <div id = "profile">
      <ion-icon name="person-outline" [routerLink]="['/profile']" size="large"> </ion-icon>
    </div> -->
         <div  [routerLink]="['/profile']"  id = "profile1" *ngIf = "user?.imageUrl">
      <img style="width: 100px; height: 37px; object-fit: cover;" id="profileimg" [src]="user.imageUrl" />
     
    </div> 
      </ion-toolbar>
</ion-header>

<ion-content>


  <div class="options">
   
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-label id="fn">First name</ion-label>
      <ion-input ngModel placeholder="" type="text"
      name="firstname" [value]="firstname" ></ion-input>
  
      <ion-label>Last name</ion-label>
      <ion-input ngModel placeholder="" type="text"
      name="lastname" [value]="lastname" ></ion-input>
  
      
      <ion-label>Date of birth</ion-label>
      <ion-input ngModel placeholder="" type="date"
      name="dateofbirth" [value]="dateofbirth" ></ion-input>
  
  
      <ion-label position="floating" >Gender</ion-label>
      <ion-select name="gender" [value]="gender" ngModel>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Non-binary">Non-binary</ion-select-option>
        <ion-select-option value="Genderqueer">Genderqueer</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
  
      


  
  
      <ion-button type="submit" name="submit" id="add">Update info</ion-button>
      </form> 
  
  
    </div>  


























</ion-content>
 
 

<ion-toolbar>
<ion-tabs>
<ion-tab-bar slot="bottom" class="ion-no-border">
  <ion-tab-button tab="home" routerLink="/home" >
    <ion-icon name="home-outline"  ></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="appoinments" routerLink="/appointments">
    <ion-icon name="calendar-clear-outline" ></ion-icon> 
  </ion-tab-button>


  <ion-tab-button tab="tips"  routerLink="/tips">
    <ion-icon name="bulb-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tips"   routerLink="/profile">
    <ion-icon name="person-outline" id="current"> </ion-icon>
  </ion-tab-button>

</ion-tab-bar> 
</ion-tabs>
</ion-toolbar>