ion-content {
    --ion-background-color: white;
  
  }
  
  ion-toolbar{    
  --background: white;
  }
  ion-icon{
    font-size:24px ;
  }
  ion-tab-bar {
    border: 0;
  }
  #current{
    color:#4CBB17;
  }
  
  ion-tab-bar{
    --background:white;
  }
  ion-tabs{
    background-color: red !important;
  }
  ////////////////
  /// //content

#profile{
    margin-left: 85%;
    margin-top: 5px;
    color:#4CBB17;

}

  .options{
    border-radius: 30px 30px 30px 30px;
    height: 95%;
    // background-color: #4CBB17;
    display: block;
    margin-top: 20px;
  }
  
ion-input{
  height: 10%;
  width: 70%;
  color: black !important;
  margin-left: 8% !important;
// border-top-left-radius: 40% !important;
// border-bottom-left-radius: 50% !important;
// border-radius: 50%;
}
form{
  height: 100%;
  width: 100%;
  margin-left: 5% !important;

}
ion-label{
    margin-top: 30% !important; //NOT WORKING
  margin: 10% !important;
  color: black !important;
  font-weight: bold !important;

}
#add
{
  margin-top: 30%;
  margin-left: 23%;
  --background:#4CBB17  !important;
  
}
ion-select{
  margin-left: 5% !important;
  color: black  !important;

}
#pass{
  margin-bottom: 20%;
}

#profile1{
  margin-left: 85%;
  margin-top: 5px;
  color:#4CBB17;
  
}
#profileimg{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
#date{
  background-color: rgb(201, 248, 180);
  width:80%;
  border-radius: 45%;
}