ion-content {
  --ion-background-color: white;
}

ion-toolbar {
  --background: white;
}
ion-icon {
  font-size: 24px;
}
ion-tab-bar {
  border: 0;
}
#current {
  color: #4cbb17;
}

ion-tab-bar {
  --background: white;
}

#profile {
  margin-left: 90%;
  margin-top: 5px;
  color: #4cbb17;
}

.options {
  border-radius: 30px 30px 30px 30px;
  height: 95%;
  display: block;
  margin-top: 20px;
}

ion-input {
  height: 10%;
  width: 70%;
  color: black !important;
  margin-left: 8% !important;
}
form {
  height: 100%;
  width: 100%;
  margin-left: 5% !important;
}
ion-label {
  margin-top: 30% !important; //NOT WORKING
  margin: 10% !important;
  color: black !important;
  font-weight: bold !important;
}
#add {
  margin-top: 30%;
  margin-left: 30%;
  --background: #4cbb17 !important;
}
ion-select {
  margin-left: 7% !important;
  color: black !important;
}
