<ion-header class="ion-no-border">
  <ion-toolbar>
    <div id = "profile">
      <ion-icon name="person-outline" [routerLink]="['/profile']" size="large"> </ion-icon>
    </div>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label id="title">
    Our counselors
  </ion-label>
  
  <ion-card *ngFor="let counselor  of counselors; let i = index">
 <div id="fullinfo">
    <div id="img">

    </div>
    <div id = "info">
    <ion-card-header>
      <ion-card-title> {{counselor.firstname}} {{counselor.lastname}}
      </ion-card-title>
  
    </ion-card-header>
  
    <ion-card-content>
    {{counselor.field}}
    </ion-card-content>
  </div>
</div>


<div id="buttons">
  <ion-button (click)="openModal(i)" expand="block">Book</ion-button>
</div>
  </ion-card>
  




























</ion-content>
 
 
<ion-toolbar>
<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button (click)="getCounselor()" >
      <ion-icon name="home-outline"  ></ion-icon>
    </ion-tab-button>
  
    <ion-tab-button tab="appoinments" routerLink="/appointments">
      <ion-icon name="calendar-clear-outline" id="current"></ion-icon> 
    </ion-tab-button>
  
  
    <ion-tab-button tab="tips"  routerLink="/tips">
      <ion-icon name="bulb-outline"></ion-icon>
    </ion-tab-button>
  
    <ion-tab-button tab="tips"   routerLink="/profile">
      <ion-icon name="person-outline"> </ion-icon>
    </ion-tab-button>
  
  </ion-tab-bar> 
  </ion-tabs>
</ion-toolbar>