ion-content {
    --ion-background-color: white;
  
  }
  
  ion-toolbar{    
  --background: white;
  }
  ion-icon{
    font-size:24px ;
  }
  ion-tab-bar {
    border: 0;
  }
  #current{
    color:#4CBB17;
  }
  
  ion-tab-bar{
    --background:white;
  }
  