<ion-header class="ion-no-border">
  <ion-toolbar>
    <div id="wrapper">
      <h5 id="title">Our counselors</h5>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let counselor  of counselors; let i = index">
    <div id="bigdiv">
      <div id="img1container">
        <div  *ngIf="time < 0"> <!--Image is loaded-->
          <img [src]="counselor.imageUrl" />
        </div>

        <div *ngIf="time > 0 "> <!--Skeleton is shoeing-->
          <ion-thumbnail slot="start">
            <ion-skeleton-text
              style="
                width: 200px;
                height: 235px;
                --background-rgb: 29.8, 73.3, 9;
              "
              [animated]="true"
              >Hello</ion-skeleton-text
            >
          </ion-thumbnail>
        </div>
      </div>
      <div id="info">
        <ion-card-header>
          <ion-card-title>
            {{counselor.firstname}} {{counselor.lastname}}
          </ion-card-title>
        </ion-card-header>

        <ion-card-content> {{counselor.field}} </ion-card-content>
        <div id="buttons">
          <ion-button
            size="small"
            id="book"
            (click)="openModal(i)"
            expand="block"
            >Book</ion-button
          >
          <ion-button
            size="small"
            id="rating"
            (click)="openReviewsModal(i)"
            expand="block"
            >Rating</ion-button
          >
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="appoinments" routerLink="/appointments">
        <ion-icon name="calendar-clear-outline" id="current"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tips" routerLink="/tips">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tips" routerLink="/profile">
        <ion-icon name="person-outline"> </ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
