<!-- <a href="https://www.freepik.com/free-photo/happy-african-american-doctor-talking-with-female-patient-during-psychotherapy-session_26644458.htm#query=guidance%20counselor&position=25&from_view=keyword">Image by Drazen Zigic</a> on <a href="https://www.freepik.com/">Freepik</a> -->
<ion-header class="ion-no-border">
  <ion-toolbar>
      <div id = "wrapper">
     <h5 id ="title">My appointments</h5>
     <!-- <div  [routerLink]="['/profile']"  id = "profile1" *ngIf = "user?.imageUrl">
      <img style="border-radius:50%; width: 40px; height: 37px; object-fit: cover;" id="profileimg" [src]="user.imageUrl" />
     
    </div> -->
<ion-icon id ="profile" name="person-outline" [routerLink]="['/profile']" size="large"> </ion-icon>
</div>  
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-card *ngFor="let appointment  of appointments; let i = index">
   <div  id="bigdiv">
    <div id="img1">
     <img [src]= "appointment.profileImagec" alt="">   

    </div>

    <div id = "info">
    <ion-card-header>
      <ion-card-title> {{appointment.counselor}}
      </ion-card-title>
  
    </ion-card-header>
  
    <ion-card-content>
      <div id = "content">
      {{appointment.date}}
      <br>
      Staus: <span id="status">{{appointment.status}}</span>
      <br>
      {{appointment.messagec}}

    </div>
    <div  *ngIf="appointment.status==='Approved'">
    <ion-button size= "small" class="cancel"  (click)="presentAlert(i)">Cancel</ion-button>
    </div>
    </ion-card-content>

</div>

</div>


  </ion-card>








  <div class="no-appointments" *ngIf="noappointments===0">
    <div class ="wrap">
      <ion-icon name="calendar-outline" id="center"></ion-icon> 
          <p id = "noappointmentstext">No appoinments were requested yet!</p>
  </div>
  
  
  </div>
  








</ion-content>