<ion-header  class="ion-no-border">
  <ion-toolbar>
    {{today}}
 <ion-label>
  <div class ="welcome">
  <div id ="welcometxt">
    <b>Welcome {{firstname}}! 
 </b>
</div>
 <div id="icon0">  <ion-icon name="happy-outline" class="icon0" id="icon0"></ion-icon></div>
</div> 
</ion-label>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div id="div1">
<div class="photo"></div>
</div>

<div id="div2">
  <div id="text">
<h6>Manage your meetings!</h6>
<p>Approve, decline or cancel students request</p>

</div>

<div id="arrow">

  <ion-icon size="large" name="calendar-outline"></ion-icon> 

        </div>
</div>

<div id="div3">
  <div id="text">
  <h6>Provide tips!</h6>
  <p>Provide tips that you consider helpfull for students</p>
</div>
<div id="arrow">
  <ion-icon size="large" name="bulb-outline"></ion-icon>

        </div>
</div>




</ion-content>
 



<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-no-border">
      <ion-tab-button tab="home" routerLink="/homec" >
        <ion-icon name="home-outline"  id="current"></ion-icon>
      </ion-tab-button>
    
      <ion-tab-button tab="appoinments" routerLink="/appointmentsc">
        <ion-icon name="calendar-clear-outline"></ion-icon> 
      </ion-tab-button>
    
    
      <ion-tab-button tab="tips"  routerLink="/tipsc">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-tab-button>
    
      <ion-tab-button tab="tips"   routerLink="/profilec">
        <ion-icon name="person-outline"> </ion-icon>
      </ion-tab-button>
    
    </ion-tab-bar> 
    </ion-tabs>
  </ion-toolbar>
