ion-content {
    display: flex !important;
    --ion-background-color: white;

}
ion-title{
    --color: black;
}
ion-toolbar{    
 --background: white;

}
#author{
    margin-left:80%;
     color:#4CBB17;
    }
ion-card-title{
    --color: black;
}
ion-card{
    --background: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    --height: 20%;
}
