<ion-header class="ion-no-border">
  <ion-toolbar>
    <div id = "profile">
      <ion-icon name="person-outline" [routerLink]="['/profile']" size="large"> </ion-icon>
    </div>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let tip  of tips" size="6">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{tip.title}}
        <!-- <ion-icon name="leaf-outline"></ion-icon>  -->
      </ion-card-title>
  
    </ion-card-header>
    <ion-card-content>
      <!-- <span id="tip">{{tip.tip}}</span> -->
      <span id="tip">{{ (tip.tip.length>30)?tip.tip.slice(0,30)+"...":tip.tip}}
     <div *ngIf="long===true"> 
      <span id="more">more<span>

      </div>
      </span>

      <br>
      <span id="author">~{{tip.author}}~</span>
    </ion-card-content>
  </ion-card>
 

  <div class="no-tips" *ngIf="notips===0">
    <div class ="wrap">
      <ion-icon name="leaf-outline" id="center"></ion-icon> 
    <p>No tips were added yet!</p>
  </div>
  </div>
</ion-col>
</ion-row>
</ion-grid>

<ion-tabs>
<ion-tab-bar slot="bottom" class="ion-no-border">
  <ion-tab-button tab="home" (click)="redirectToHome()">
    <ion-icon name="home-outline"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="appoinments" routerLink="/appointments">
    <ion-icon name="calendar-clear-outline"></ion-icon> 
  </ion-tab-button>


  <ion-tab-button tab="tips"  routerLink="/tips">
    <ion-icon name="bulb-outline" id="current"></ion-icon>
  </ion-tab-button>

  <ion-tab-button tab="tips"   routerLink="/profile">
    <ion-icon name="person-outline"> </ion-icon>
  </ion-tab-button>

</ion-tab-bar> 
</ion-tabs>
</ion-content>
 
 

