ion-content {
    // display: flex !important; 
    --ion-background-color: white;

}

ion-toolbar{    
 --background: white;

}
#author{
     color:#4CBB17;
     font-size: 95% !important;

    }
ion-card-title{
    --color: black;
    font-size: 100% !important;
     font-weight:bold;

}
ion-card{
    --background: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  width: 100% !important;
  margin: 0 !important;


}
ion-card-content{
text-overflow: ellipsis !important;
}

