ion-content {
  --ion-background-color: white;
}
ion-card,
ion-item {
  --background: white;
}

ion-card {
  box-shadow: none !important;
}

ion-input {
  --color: black;
}

ion-select {
  --background: black;
  --placeholder-color: #971e49;
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}
ion-item {
  --color: black;
  margin-left: 0% !important;
  height: 5% !important;
}
.date {
  color: black;
  background-color: #e2f1db;
  border-radius: 30%;
  margin-top: 2%;
}
ion-label {
  --color: #4cbb17 !important;
  font-size: 95% !important;
}
ion-button {
  --background: #4cbb17;
  --background-hover: #41a413;
  width: 100%;
  border-radius: 30%;
  margin-top: 20%;
  font-size: 95% !important;
}

p {
  margin-left: 10%;
  color: black;
  font-size: 95% !important;
}
span {
  color: #4cbb17;
}
span:hover {
  text-decoration: underline;
}
